<div class="row">
  <div class="col-md-12">
    <%= form_for @tenant , html: { class: 'form' } do |f| %>
      <%= csrf_meta_tags %>

      <% if @tenant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>
          <ul>
          <% @tenant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :user_id, value: current_user.id %>

      <div class="row form-group">
        <div class="col-xs-6 col-md-3">
          <%= f.label :ssn, "Social Security Number"%><br>
          <%= f.text_field :ssn, class: 'form-control input-sm', placeholder: "SSN Number" %>
        </div>
        <div class="col-xs-6 col-md-3">
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, class: 'form-control input-sm', placeholder: "First Name" %>
        </div>
        <div class="col-xs-6 col-md-3">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, class: 'form-control input-sm', placeholder: "Last Name" %>
        </div>
        <div class="col-xs-6 col-md-3">
          <%= f.label :dob %><br>
          <%= f.date_select :dob, start_year: 1900, end_year: Date.today.year, class: 'form-control'  %>
        </div>
        <div class="col-xs-6 col-md-3">
          <%= f.label :marital_status %><br>
          <select name="tenant[marital_status]" class="form-control">
            <option value="">Please select</option>
            <option value="single" selected="selected">Single</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <%= f.label :work_phone %><br>
          <%= f.text_field :work_phone, class: 'form-control' %>
        </div>
        <div class="col-xs-6">
          <%= f.label :home_phone %><br>
          <%= f.text_field :home_phone, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :employer %><br>
        <%= f.text_field :employer, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :gender %><br>
        <select name="tenant[gender]" class="form-control">
          <option value="">Please select</option>
          <option value="male" selected="selected">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <div class="actions">
        <%= f.submit 'Save Profile', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>

</div>
