<span>
  <strong>First Name:</strong>
  <%= staff.first_name %>
</span><br/>

<span>
  <strong>Last Name:</strong>
  <%= staff.last_name %>
</span><br/>

<span>
  <strong>Position:</strong>
  <%= staff.position %>
</span><br/>

<span>
  <strong>Gender:</strong>
  <%= staff.gender %>
</span><br/>

<span>
  <strong>DOB:</strong>
  <%= staff.dob %>
</span><br/>

<span>
  <strong>Salary:</strong>
  <%= staff.salary %>
</span><br/>

<span>
  <strong>Username:</strong>
  <%= staff.user.username %>
</span><br/>
