<%= form_for(@complaint) do |f| %>
  <% if @complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% @complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_filed %><br>
    <%= f.date_select :date_filed %>
  </div>
  <div class="field">
    <%= f.label :rental_complaint %><br>
    <%= f.text_area :rental_complaint %>
  </div>
  <div class="field">
    <%= f.label :apartment_complaint %><br>
    <%= f.text_area :apartment_complaint %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :complaintable_id %><br>
    <%= f.text_field :complaintable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
