<%= link_to 'Edit', edit_polymorphic_path([get_parent(@complaint), @complaint]) %> | <%= link_to 'Back', complaints_path %>

<div class="col-md-3">
  <% if @complaint.complaintable_type == "Apartment" %>
  <% @apartment = Apartment.find_by_id(@complaint.complaintable_id) %>
  <%= render partial: "apartments/shared/apartment", locals: { apartment: @apartment } %>
  <% end %>
  
  <hr>

  <% if @complaint.user.tenant? %>
  <h3>Tenant</h3>
  <%= render partial: "tenants/shared/tenant", locals: { tenant: @complaint.user.tenant } %>
  <% end %>

  <% if @complaint.complaintable_type == "Apartment" && @complaint.user.tenant? %>
  <%= render partial: "rentals/shared/rental", locals: { rental: @complaint.user.tenant.rentals.where(apartment: @apartment ).first } %>
  <% end %>


</div>
<div class="col-md-6">
  <h3>Complaint</h3>
  <span><strong>Date filed:</strong> <%= @complaint.created_at %></span><br/>

  <span><strong>Complaint:</strong> <%= @complaint.content %></span><br/>

  <span><strong>Status:</strong> <%= @complaint.status %></span><br/>

</div>
