<p id="notice"><%= notice %></p>

<p>
  <strong>Date filed:</strong>
  <%= @complaint.date_filed %>
</p>

<p>
  <strong>Rental complaint:</strong>
  <%= @complaint.rental_complaint %>
</p>

<p>
  <strong>Apartment complaint:</strong>
  <%= @complaint.apartment_complaint %>
</p>

<p>
  <strong>Status:</strong>
  <%= @complaint.status %>
</p>

<p>
  <strong>Complaintable:</strong>
  <%= @complaint.complaintable %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
