<p>
  <strong>Date filed:</strong>
  <%= @complaint.date_filed %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @complaint.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @complaint.status %>
</p>

<p>
  <strong>Complaintable id:</strong>
  <%= @complaint.complaintable.id %>
</p>

<p>
  <strong>Complaintable type:</strong>
  <%= @complaint.complaintable_type %>
</p>


<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
