<p id="notice"><%= notice %></p>

<p>
  <strong>Complaint date:</strong>
  <%= @complaint.complaint_date %>
</p>

<p>
  <strong>Rental complaint:</strong>
  <%= @complaint.rental_complaint %>
</p>

<p>
  <strong>Apt complaint:</strong>
  <%= @complaint.apt_complaint %>
</p>

<p>
  <strong>Status:</strong>
  <%= @complaint.status %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
