<h3>Tenant Auto</h3>
<span><strong>License number:</strong><%= tenant_auto.license_number %></span>

<span><strong>Auto make:</strong> <%= tenant_auto.auto_make %></span>

<span>
  <strong>Auto model:</strong>
  <%= tenant_auto.auto_model %>
</span>

<span>
  <strong>Auto year:</strong>
  <%= tenant_auto.auto_year %>
</span>

<span>
  <strong>Auto color:</strong>
  <%= tenant_auto.auto_color %>
</span>
