<p id="notice"><%= notice %></p>

<h1>Listing Rental Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoice no</th>
      <th>Invoice date</th>
      <th>Invoice due date</th>
      <th>Cc no</th>
      <th>Cc type</th>
      <th>Cc exp date</th>
      <th>Cc amt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rental_invoices.each do |rental_invoice| %>
      <tr>
        <td><%= rental_invoice.invoice_no %></td>
        <td><%= rental_invoice.invoice_date %></td>
        <td><%= rental_invoice.invoice_due_date %></td>
        <td><%= rental_invoice.cc_no %></td>
        <td><%= rental_invoice.cc_type %></td>
        <td><%= rental_invoice.cc_exp_date %></td>
        <td><%= rental_invoice.cc_amt %></td>
        <td><%= link_to 'Show', rental_invoice %></td>
        <td><%= link_to 'Edit', edit_rental_invoice_path(rental_invoice) %></td>
        <td><%= link_to 'Destroy', rental_invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental invoice', new_rental_invoice_path %>
