<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice no:</strong>
  <%= @rental_invoice.invoice_no %>
</p>

<p>
  <strong>Invoice date:</strong>
  <%= @rental_invoice.invoice_date %>
</p>

<p>
  <strong>Invoice due date:</strong>
  <%= @rental_invoice.invoice_due_date %>
</p>

<p>
  <strong>Cc no:</strong>
  <%= @rental_invoice.cc_no %>
</p>

<p>
  <strong>Cc type:</strong>
  <%= @rental_invoice.cc_type %>
</p>

<p>
  <strong>Cc exp date:</strong>
  <%= @rental_invoice.cc_exp_date %>
</p>

<p>
  <strong>Cc amt:</strong>
  <%= @rental_invoice.cc_amt %>
</p>

<%= link_to 'Edit', edit_rental_invoice_path(@rental_invoice) %> |
<%= link_to 'Back', rental_invoices_path %>
