<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice date:</strong>
  <%= @rental_invoice.invoice_date %>
</p>

<p>
  <strong>Invoice due:</strong>
  <%= @rental_invoice.invoice_due %>
</p>

<p>
  <strong>Cc number:</strong>
  <%= @rental_invoice.cc_number %>
</p>

<p>
  <strong>Cc type:</strong>
  <%= @rental_invoice.cc_type %>
</p>

<p>
  <strong>Cc expiration date:</strong>
  <%= @rental_invoice.cc_expiration_date %>
</p>

<p>
  <strong>Cc amount charged:</strong>
  <%= @rental_invoice.cc_amount_charged %>
</p>

<%= link_to 'Edit', edit_rental_invoice_path(@rental_invoice) %> |
<%= link_to 'Back', rental_invoices_path %>
