
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h3>Projected Income for <%= Date.today.year %> by Month</h3>
        <table class="table table-striped table-hover table-condensed">
          <thead>
            <th>Month</th>
            <th>Amount Paid</th>
            <th>Amount Projected</th>
            <th>Amount Unpaid</th>
            <th>Amount Projected If Full House</th>
          </thead>
          <tbody>
            <% Date::ABBR_MONTHNAMES.slice(1,12).each do |month| %>
            <tr>
              <td><%= month %></td>
              <td><%= number_to_currency RentalInvoice.paid.on_year( Date.today.year).on_month(Date.parse(month).month).sum(:cc_amount_charged) %></td>
              <td><%= number_to_currency RentalInvoice.on_year( Date.today.year).on_month(Date.parse(month).month).sum(:amount) %></td>
              <td><%= number_to_currency RentalInvoice.unpaid.on_year( Date.today.year).on_month(Date.parse(month).month).sum(:amount) %></td>
              <td><%= number_to_currency Apartment.all.joins(:apartment_type).sum(:monthly_rent) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Vacant Apartments</h3>
    <%= render partial: "apartments/shared/simple_apartments", locals: { apartments: Apartment.vacant } %>
  </div>
  <div class="col-md-6">
    <h3>Auto Makes Tracker</h3>
    <%= render partial: "tenant_autos/shared/auto_make_list", locals: { tenant_autos: TenantAuto.all } %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>All Leases</h3>
    <%= render partial: "rentals/shared/simple_rentals", locals: { rentals: Rental.all } %>
  </div>
</div>
