<p id="notice"><%= notice %></p>

<h1>Listing Tenant Family Members</h1>

<table>
  <thead>
    <tr>
      <th>Ss</th>
      <th>Name</th>
      <th>Member type</th>
      <th>Marital status</th>
      <th>Gender</th>
      <th>Dob</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenant_family_members.each do |tenant_family_member| %>
      <tr>
        <td><%= tenant_family_member.ss %></td>
        <td><%= tenant_family_member.name %></td>
        <td><%= tenant_family_member.member_type %></td>
        <td><%= tenant_family_member.marital_status %></td>
        <td><%= tenant_family_member.gender %></td>
        <td><%= tenant_family_member.dob %></td>
        <td><%= link_to 'Show', tenant_family_member %></td>
        <td><%= link_to 'Edit', edit_tenant_family_member_path(tenant_family_member) %></td>
        <td><%= link_to 'Destroy', tenant_family_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenant family member', new_tenant_family_member_path %>
