

<p>
  <strong>Ss:</strong>
  <%= @tenant_family_member.ss %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tenant_family_member.name %>
</p>

<p>
  <strong>Member type:</strong>
  <%= @tenant_family_member.member_type %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @tenant_family_member.marital_status %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @tenant_family_member.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @tenant_family_member.dob %>
</p>

<%= link_to 'Edit', edit_tenant_family_member_path(@tenant_family_member) %> |
<%= link_to 'Back', tenant_family_members_path %>
