<table class="table table-hover table-striped table-condensed">
  <thead>
    <th>Complaint ID</th>
    <th>Status</th>
    <th>Date/Time</th>
    <th colspan="3">Complaint</th>
    <th>Complaintee</th>
  </thead>
  <tbody>
    <% complaintable.complaints.each do |complaint| %>
    <tr>
      <th><%= complaint.id %></th>
      <th><%= complaint.status %></th>
      <th><%= complaint.created_at %></th>
      <th colspan="3"><%= complaint.content %></th>
      <th><%= complaint.user.email %></th>
    </tr>
    <% end %>
  </tbody>
</table>
