<div class="row">
  <div class="col-md-12">
    <h3>Rental Information</h3>
    <h5>Rental ID: <%= @rental.id %></h5>
    <h4>Apartment #<%= @rental.apartment.id %> : <%= @rental.lease_start %> to <%= @rental.lease_end %></h4>
    <h4><%= @rental.lease_type.titlecase %> Lease</h4>
  </div>
</div>




<div class="row">

  <div class="col-md-4">
    <h3><%= @rental.tenant.full_name %></h3>
    <h5><%= @rental.tenant.user.email%></h5>
    <h6><%= @rental.tenant.employer %></h6>
    <span>DOB: <%= @rental.tenant.dob %></span><br/>
    <span>Gender: <%= @rental.tenant.gender %></span>
    <span>Marital Status: <%= @rental.tenant.marital_status %></span><br/>
    <span>Work: <%= @rental.tenant.work_phone %></span><br/>
    <span>Home: <%= @rental.tenant.home_phone %></span><br/>
  </div>

  <div class="col-md-8">
    <h4>Apartment: <%= @rental.apartment.id %> / Lease Type: <%= @rental.lease_type.titlecase %></h4>
    <h4>Rent: <%= number_to_currency(@rental.rent_amount) %> | Deposit: <%= number_to_currency(@rental.deposit_amount) %></h4>
    <h5>Has Utility: <%= @rental.has_utility.to_s.titlecase %></h5>
    <h5>Status: <%= @rental.status.to_s.titlecase %> / Signed Date: <%= @rental.sign_date %></h5>
    <h6>Cancel Date: <%= @rental.cancel_date %> </h6>
    <span>Lease Start: <%= @rental.lease_start %></span><br/>
    <span>Lease End: <%= @rental.lease_end %> </span><br/>
    <span>Renewal Date: <%= @rental.renewal_date %> </span><br/>

  </div>
</div>
<p>
  <strong>Tenant</strong>
  <a href="<%= tenant_path(@rental.tenant) %>"><%= "#{@rental.tenant.first_name} #{@rental.tenant.last_name} : #{@rental.tenant.user.username}" %></a>

</p>

<p>
  <strong>Status:</strong>
  <%= @rental.status %>
</p>

<p>
  <strong>Sign date:</strong>
  <%= @rental.sign_date %>
</p>


<p>
  <strong>Cancel date:</strong>
  <%= @rental.cancel_date %>
</p>

<p>
  <strong>Lease type:</strong>
  <%= @rental.lease_type %>
</p>

<p>
  <strong>Lease start:</strong>
  <%= @rental.lease_start %>
</p>

<p>
  <strong>Lease end:</strong>
  <%= @rental.lease_end %>
</p>

<p>
  <strong>Renewal date:</strong>
  <%= @rental.renewal_date %>
</p>

<p>
  <strong>Has utility:</strong>
  <%= @rental.has_utility %>
</p>

<p>
  <strong>Deposit amount:</strong>
  <%= @rental.deposit_amount %>
</p>

<p>
  <strong>Rent amount:</strong>
  <%= @rental.rent_amount %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
