<div class="row">
  <div class="col-md-12">
    <h3>Rental Information</h3>
    <h5>Rental ID: <%= @rental.id %></h5>
    <h4>Apartment #<%= @rental.apartment.id %> : <%= @rental.lease_start %> to <%= @rental.lease_end %></h4>
    <h4><%= @rental.lease_type.titlecase %> Lease</h4>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <%= render partial: "tenants/shared/tenant", locals: { tenant: @rental.tenant } %>
  </div>

  <div class="col-md-8">
    <h4>Apartment: <%= @rental.apartment.id %> / Lease Type: <%= @rental.lease_type.titlecase %></h4>
    <h4>Rent: <%= number_to_currency(@rental.rent_amount) %> | Deposit: <%= number_to_currency(@rental.deposit_amount) %></h4>
    <h5>Has Utility: <%= @rental.has_utility.to_s.titlecase %></h5>
    <h5>Status: <%= @rental.status.to_s.titlecase %> / Signed Date: <%= @rental.sign_date %></h5>
    <h6>Cancel Date: <%= @rental.cancel_date %> </h6>
    <span>Lease Start: <%= @rental.lease_start %></span><br/>
    <span>Lease End: <%= @rental.lease_end %> </span><br/>
    <span>Renewal Date: <%= @rental.renewal_date %> </span><br/>
  </div>
</div>

<div class="row">
    <%= render partial: "rental_invoices/shared/rental_invoices", locals: { rental_invoices: @rental.rental_invoices } %>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>Registered Autos for Rental</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "tenant_autos/shared/simple_tenant_autos", locals: { rental: @rental, tenant_autos: @rental.tenant_autos } %>
    </div>
</div>

# Please Do Registered Family Members for Rental
<div class="row">
  <div class="col-md-12">
    <h3>Registered Family Members for Rental</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "tenant_family_members/shared/simple_tenant_family_members", locals: { rental: @rental, tenant_autos: @rental.tenant_autos } %>
    </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>Pending Complaints for Rental</h3>
  </div>
  <div class="col-md-12">
    <%= render partial: "complaints/shared/associated_complaints", locals: {complaintable: @rental} %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>File A Complaint</h3>
  </div>

    <%= render partial: "complaints/shared/form", locals: {complaintable: @rental} %>
</div>


<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
