<div class="row available-apts">
        <div class="col-xs-3 apt-preview">
          <div class="call-to-action">
            <h3>Minimal</h3>
            <a href="<%= new_rental_path %>" class="btn btn-sm btn-success">Available Now &rsaquo;</a>
          </div>
          <img alt="featured apt1"
        src="<%= image_path 'apartments/apartment-block-001.jpg' %>">
      </div>
      <div class="col-xs-3 apt-preview">
        <div class="call-to-action">
          <h3>Single</h3>
          <a href="#" class="btn btn-sm btn-success">Available Now &rsaquo;</a>
        </div>
          <img alt="featured apt1"
        src="<%= image_path 'apartments/apartment-block-002.jpg' %>">
      </div>
      <div class="col-xs-3 apt-preview">
        <div class="call-to-action">
          <h3>Double</h3>
          <a href="#" class="btn btn-sm btn-success">Available Now &rsaquo;</a>
        </div>
        <img alt="featured apt1"
        src="<%= image_path 'apartments/apartment-block-003.jpg' %>">
      </div>
      <div class="col-xs-3 apt-preview">
        <div class="call-to-action">
          <h3>Luxury</h3>
          <a href="#" class="btn btn-sm btn-success">Available Now &rsaquo;</a>
        </div>
        <img alt="featured apt1"
        src="<%= image_path 'apartments/apartment-block-004.jpg' %>">
      </div>
</div>
