<div class="row">
  <div class="col-md-12">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Welcome Back!</h3>
  </div>
</div>

<% case user_role %>
<% when "tenant" %>
<%= render "dashboards/shared/tenant_view" %>
<% when "assistant" %>
<%= render "dashboards/shared/assistant_view" %>
<% when "supervisor" %>
<%= render "dashboards/shared/supervisor_view" %>
<% when "manager" %>
<%= render "dashboards/shared/manager_view" %>
<% when "superuser" %>
<%= render "dashboards/shared/superuser_view" %>
<% end %>
