<%= form_for [rental, tenant_family_member] , class: "form" do |f| %>
  <% if tenant_family_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant_family_member.errors.count, "error") %> prohibited this tenant_family_member from being saved:</h2>

      <ul>
      <% tenant_family_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ss, "Social Security Number" %><br>
    <%= f.text_field :ss %>
  </div>
  <div class="field">
    <%= f.label :name, "Full Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :member_type, "Member Type" %><br>
    <%= f.collection_select :member_type, TenantFamilyMember.member_types.map { |m| [ m.first, m.first.titlecase ] }, :first, :second %>
  </div>
  <div class="field">
    <%= f.label :marital_status %><br>
    <%= f.collection_select :marital_status, TenantFamilyMember.marital_statuses.map { |m| [ m.first, m.first.titlecase ] }, :first, :second %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.collection_select :gender, TenantFamilyMember.genders.map { |m| [ m.first, m.first.titlecase ] }, :first, :second %>
  </div>
  <div class="field">
    <%= f.label :dob, "Date of Birth" %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="actions">
    <%= f.submit "Add Family Member", class: "btn btn-default" %>
  </div>
<% end %>
