<p id="notice"><%= notice %></p>

<h1>Listing Apartment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Initial deposit</th>
      <th>Monthly rent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartment_types.each do |apartment_type| %>
      <tr>
        <td><%= apartment_type.name %></td>
        <td><%= apartment_type.code %></td>
        <td><%= apartment_type.initial_deposit %></td>
        <td><%= apartment_type.monthly_rent %></td>
        <td><%= link_to 'Show', apartment_type %></td>
        <td><%= link_to 'Edit', edit_apartment_type_path(apartment_type) %></td>
        <td><%= link_to 'Destroy', apartment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment type', new_apartment_type_path %>
