<h3><%= tenant.full_name %></h3>
<h5>SSN: <%= tenant.ssn %></h5>
<h5><%= tenant.user.email %></h5>
<span><strong>Employer</strong> <%= tenant.employer %></span><br/>
<span><strong>DOB</strong> <%= tenant.dob %></span><br/>
<span><strong>Gender</strong> <%= tenant.gender %></span></br>
<span><strong>Marital Status</strong> <%= tenant.marital_status %></span><br/>
<span><strong>Work</strong> <%= tenant.work_phone %></span><br/>
<span><strong>Home</strong> <%= tenant.home_phone %></span><br/>
