

<!-- Start Jumbotron: Testimonial Call To Action -->
<% if user_signed_in? && !current_user.tenant.nil? && !current_user.tenant.rentals.nil? %>
<div class="row add-testimonial call-to-action jumbotron">
	<h3>Hey there!</h3>
	<p>Satisfied with your apartment and management so far, leave a testimonial!</p>
	<%= link_to 'Leave Testimonial &rsaquo;'.html_safe , new_testimonial_path, class: "btn btn-large btn-success", style: "color: white;" %>
</div>
<% end %>
<!-- End Jumbotron: Testimonial Call To Action -->

<div class="row testimonials-search">
	<%= render partial: 'testimonials/shared/search_bar' %>
</div>

<div class="featured-testimonials row">
	<div class="col-xs-12 col-md-12">
		<% if params[:keywords].nil? %>
		<h3>Featured Testimonials</h3>
		<% else %>
		<h3>Testimonials Search Results</h3>
		<% end %>
	</div>
	<% if params[:keywords].nil? %>
	<%= render partial: 'testimonials/shared/featured_testimonial', locals: { testimonial: nil } %>
	<% end %>

	<% @testimonials.each do |testimonial| %>
		<% if !@testimonials.blank? %>
			<!-- Start Featured Testimonial Item -->
			<div class="featured-testimonial-item testimonial-item col-md-6">
			  <div class="featured-image col-xs-4" style="padding: 0;">
			    <img alt="FeaturedTestimonial" src="<%= image_path 'like_image.jpg' %>" style="width: 100%;">
			  </div>
			  <div class="col-xs-8">
			    <blockquote>
			      <span class="primary-quote"><%= testimonial.content %></span>
			      <footer>
			        <%= testimonial.tenant.full_name %>
			      </footer>
			    </blockquote>
					<% if user_signed_in? && current_user.role.name == "supervisor" %>
					<div class="testimonial-admin-options">
						<%= link_to 'Edit', edit_testimonial_path(testimonial), class: 'btn btn-sm btn-primary', style: "color: #FFF;" %>
						<%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary', style: "color: #FFF;" %>
					</div>
					<% end %>
			  </div>
			</div>
			<!-- End Featured Testimonial Item -->
		<% end %>
	<% end %>

	<% if !params[:keywords].nil? && @testimonials.empty? %>
	<div class="col-md-12">
		<div class="well well-lg">
			<h3 class="text-center">No Tesitmonials Found for <%= params[:keywords] %></h3>
		</div>
	</div>

	<% end %>
</div>



<%= render "static/shared/featured_apartments" %>
