<p id="notice"><%= notice %></p>

<!-- Start Jumbotron: Testimonial Call To Action -->
<% if user_signed_in? %>
<div class="row add-testimonial call-to-action jumbotron">
	<h3>Hey there!</h3>
	<p>Satisfied with your apartment and management so far, leave a testimonial!</p>
	<%= link_to 'Leave Testimonial &rsaquo;'.html_safe , new_testimonial_path, class: "btn btn-large btn-success", style: "color: white;" %>
</div>
<% end %>
<!-- End Jumbotron: Testimonial Call To Action -->

<div class="row testimonials-search">
	<form class="form-horizontal col-md-12 ng-pristine ng-valid">
		<div class="form-group-lg">
			<input class="form-control pull-left" placeholder="Seach for Testimonials by Keyword or All" style="width: 80%;" type="text">
			<div class="input-group-btn"></div>
		</div>
	</form>
</div>

<div class="featured-testimonial row ng-scope">
	<div class="col-xs-12 col-md-12">
		<h3>Featured Testimonial</h3>
	</div>
	<!-- Start Featured Testimonial Item -->
	<div class="featured-testimonial-item">
		<div class="featured-image col-xs-4">
			<img alt="FeaturedTestimonial" src="<%= image_path 'testimonials/testimonials-featured-00.jpg' %>" style="width: 100%;">
		</div>
		<div class="col-xs-8">
			<blockquote>
				<span class="primary-quote">One of the most exquisite places that I've ever stayed at.</span>
				<footer>
					- Xoxo The Cat, "Breathing Intensifies"
				</footer>
			</blockquote>
		</div>
	</div>
	<!-- End Featured Testimonial Item -->
</div>

<% if !@testimonials.blank? %>
<div class="testimonials row">
	<div class="col-xs-12">
		<h3>Other Testimonials</h3>
	</div>
	<% @testimonials.each do |testimonial| %>
		<div class="col-xs-12 col-md-6 col-lg-3">
			<div class="testimonial-item" data-entered="<%= testimonial.date_entered %>">

				<h3>John Doe</h3>
				<blockquote>
					<span class="primary-quote"><%= testimonial.content %></span>
					<footer>
						- John Doe
					</footer>
				</blockquote>
				<% if user_signed_in? && current_user.role.name == "supervisor" %>
				<div class="testimonial-admin-options">
					<%= link_to 'Edit', edit_testimonial_path(testimonial), class: 'btn btn-sm btn-primary', style: "color: #FFF;" %>
					<%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary', style: "color: #FFF;" %>
				</div>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<% end %>

<%= render "static/shared/featured_apartments" %>
